[build]
rustflags = [
    "-Dabsolute_paths_not_starting_with_crate",
    "-Danonymous_parameters",
    # "-Dbox_pointers",
    "-Ddeprecated_in_future",
    # "-Delided_lifetimes_in_paths",
    "-Dexplicit_outlives_requirements",
    "-Dkeyword_idents",
    "-Dmacro_use_extern_crate",
    "-Dmeta_variable_misuse",
    # "-Dmissing_copy_implementations",
    "-Dmissing_crate_level_docs",
    "-Dmissing_debug_implementations",
    "-Dmissing_doc_code_examples",
    # "-Dmissing_docs",
    "-Dnon_ascii_idents",
    "-Dpointer_structural_match",
    "-Dprivate_doc_tests",
    "-Dsingle_use_lifetimes",
    "-Dtrivial_casts",
    "-Dtrivial_numeric_casts",
    "-Dunaligned_references",
    "-Dunreachable_pub",
    "-Dunsafe_code",
    # "-Dunsafe_op_in_unsafe_fn",
    "-Dunstable_features",
    "-Dunused_crate_dependencies",
    "-Dunused_extern_crates",
    "-Dunused_import_braces",
    "-Dunused_lifetimes",
    "-Dunused_qualifications",
    "-Dunused_results",
    "-Dvariant_size_differences",
    "-Dwarnings"
]

rustdocflags = [
    "-Dabsolute_paths_not_starting_with_crate",
    "-Danonymous_parameters",
    # "-Dbox_pointers",
    "-Ddeprecated_in_future",
    # "-Delided_lifetimes_in_paths",
    "-Dexplicit_outlives_requirements",
    "-Dkeyword_idents",
    "-Dmacro_use_extern_crate",
    "-Dmeta_variable_misuse",
    # "-Dmissing_copy_implementations",
    "-Dmissing_crate_level_docs",
    "-Dmissing_debug_implementations",
    "-Dmissing_doc_code_examples",
    # "-Dmissing_docs",
    "-Dnon_ascii_idents",
    "-Dpointer_structural_match",
    "-Dprivate_doc_tests",
    "-Dsingle_use_lifetimes",
    "-Dtrivial_casts",
    "-Dtrivial_numeric_casts",
    "-Dunaligned_references",
    "-Dunreachable_pub",
    "-Dunsafe_code",
    # "-Dunsafe_op_in_unsafe_fn",
    "-Dunstable_features",
    "-Dunused_crate_dependencies",
    "-Dunused_extern_crates",
    "-Dunused_import_braces",
    "-Dunused_lifetimes",
    "-Dunused_qualifications",
    "-Dunused_results",
    "-Dvariant_size_differences",
    "-Dwarnings"
]

[source.crates-io]
replace-with = "vendored-sources"

[source.vendored-sources]
directory = "vendor"
