jobs:
  package:
    name: Package (${{ matrix.target }})
    runs-on: ubuntu-latest
    steps:
      - 
        name: git co
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - 
        id: release-tag-meta
        name: meta
        uses: ./.github/actions/release-tag-meta
        with:
          git-ref: ${{ github.ref }}
      # -
      #   run: echo "${{ toJSON(steps.release-tag-meta) }}"
      - 
        env:
          CARGO: cross
          PACKAGE: fip_api
          RELEASE: --release
          STRIP: ${{ matrix.strip }}
          TARGET: ${{ matrix.target }}
          VERSION: ${{ steps.release-tag-meta.outputs.name }}
        name: package
        uses: ./.github/actions/package
        with:
          entrypoint: make
          args: release
      -
        name: upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.target }}-artifacts
          path: release/*
    strategy:
      matrix:
        target: [aarch64-unknown-linux-musl, armv7-unknown-linux-musleabihf, x86_64-unknown-linux-musl]
        include:
          - 
            strip: aarch64-linux-gnu-strip
            target: aarch64-unknown-linux-musl
          -
            strip: arm-linux-gnueabihf-strip
            target: armv7-unknown-linux-musleabihf
          - 
            strip: strip
            target: x86_64-unknown-linux-musl
    timeout-minutes: 40
  release:
    name: GitHub Release
    needs: [package]
    runs-on: ubuntu-latest
    steps:
      -
        name: git co
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      -
        id: release-tag-meta
        name: meta
        uses: ./.github/actions/release-tag-meta
        with:
          git-ref: ${{ github.ref }}
      -
        name: download artifacts
        uses: actions/download-artifact@3be87be14a055c47b01d3bd88f8fe02320a9bb60
        with:
          path: artifacts
      -
        name: list artifacts
        run: find artifacts -type f -ls
      -
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: release
        uses: softprops/action-gh-release@fb0163a75bee697a9cfec2c931801de7c7f10042
        with:
          files: artifacts/**/*
          name: ${{ steps.release-tag-meta.outputs.name }}
    timeout-minutes: 5
name: Release
on:
  push:
    tags:
      - release/*
